body{
    background: #291af8;
    vertical-align: middle;
    text-align: center;
}

#name{
    color: lightgray;
    font-size: 5em;
    font-family: monospace;
}

.download {
    display: inline-block;
    width: 300px;
    height: 120px;
}