<ul class="sidenav sidenav-fixed" id="mikepedia-menu">
	{%- assign mikepedia = site.mikepedia| group_by: 'category' -%}
	{%- for categ in mikepedia -%}
		<ul class="collapsible collapsible-accordion">
			<li>
				<div class="collapsible-header waves-effect">
					{{ categ.name | capitalize | escape }}<i class="material-icons right">arrow_drop_down</i>
				</div>
				<div class="collapsible-body">
					{%- assign subcategories = categ.items | group_by_exp: 'item', "item.categories | remove_first: categ.name | remove: '[' | remove: ', ' | remove: ']' " -%}
					{%- for subcategory in subcategories -%}						
						{%- assign sub = subcategory.name | remove: '"' | capitalize -%}
							{%- if sub != "" -%}
								<ul>
									<li>
										<ul class="collapsible collapsible-accordion">
											<li>
												<div class="collapsible-header waves-effect">
													{{ sub | escape }}<i class="material-icons right">arrow_drop_down</i>
												</div>
												<div class="collapsible-body">
							{%-endif-%}
													<ul>
														{%- for item in subcategory.items -%}
															<li>{{ item.title | capitalize | escape }}</li>
														{%- endfor -%}
													</ul>
							{%- if sub != "" -%}
												</div>
											</li>
										</ul>
									</li>
								</ul>
						{%- endif -%}
					{%- endfor -%}
				</div>
			</li>
		</ul>		
	{%- endfor -%}
</ul>