html {
  color: #142140 !important;

// stick the footer on the bottom of the page
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column; // nowrap the text on navbar

    /* @media screen {
    .mikepedia {
      @media (max-width: 992px) {
        padding-left: 0px;
      }

      @media (min-width: 992px) {
        padding-left: 300px;

        nav {
          width: -webkit-calc(100% - 300px);
          width: -moz-calc(100% - 300px);
          width: calc(100% - 300px);
        }
      }
    }
  } */

    @import "header";

    main {
      flex: 1 0 auto;

      .chip {
        height: 21px;
        background: #2286D8;
        color: #fff;
        font-size: 10px;
        border-radius: 10px;
        line-height: 21px;
      }

      @import "home";
    }

    @import "footer";
  }

  h1 {
    text-align: center;
    font-size: 40px !important;
    font-weight: bold;
  }

  h2 {
    text-align: center;
    font-size: 35px !important;
  }

  h3 {
    font-size: 24px !important;
  }
}