---
layout: default
---

{%- assign pgs = site.pages | reverse -%}
{%- include parallax.html page_name="home.md" -%}
<section class="container">
	<h1 class="title">Portifólio</h1>
	<h2 class="subtitle">subtitle</h2>
	<div class="row hoverable">
		<img class="col s4 offset-s2 responsive-img" src="" alt="portifolio image">
		<div class="col s4">
			<h3>example title</h3>
			<p>example description</p>
			<div class="chip">skill pills</div>
		</div>
	</div>
</section>
<section class="container">
	<h1 class="title">Minhas Habilidades</h1>
	<div class="row">
		<ul class="col s5 offset-s1">
			<li>habilidade 1</li>
			<li>habilidade 2</li>
			<li>habilidade 3</li>
			<li>habilidade 4</li>
			<li>habilidade 5</li>
		</ul>
		<ul class="col s5">
			<li>habilidade 6</li>
			<li>habilidade 7</li>
			<li>habilidade 8</li>
			<li>habilidade 9</li>
			<li>habilidade 10</li>
		</ul>
	</div>
</section>
<section class="container">
	<h1 class="title">Projetos</h1>
	<h2 class="subtitle">subtitle</h2>
	<div class="row">
		<div class="col s4">
			<div class="card hoverable small">
				<div class="card-image"><img src="" alt="projeto image"></div>
				<div class="card-content">
					<h3 class="card-title">projeto title</h3>
					<p>projeto description</p>
				</div>
				<div class="card-action">
					<a href="">Ir para a página do projeto</a>
				</div>
			</div>
		</div>
		<div class="col s4">
			<div class="card hoverable small">
				<div class="card-image"><img src="" alt="projeto image"></div>
				<div class="card-content">
					<h3 class="card-title">projeto title</h3>
					<p>projeto description</p>
				</div>
				<div class="card-action">
					<a href="">Ir para a página do projeto</a>
				</div>
			</div>
		</div>
		<div class="col s4">
			<div class="card hoverable small">
				<div class="card-image"><img src="" alt="projeto image"></div>
				<div class="card-content">
					<h3 class="card-title">projeto title</h3>
					<p>projeto description</p>
				</div>
				<div class="card-action">
					<a href="">Ir para a página do projeto</a>
				</div>
			</div>
		</div>
		<div class="col s4">
			<div class="card hoverable small">
				<div class="card-image"><img src="" alt="projeto image"></div>
				<div class="card-content">
					<h3 class="card-title">projeto title</h3>
					<p>projeto description</p>
				</div>
				<div class="card-action">
					<a href="">Ir para a página do projeto</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container">
	<h1 class="title">Mikepedia</h1>
	<div class="row">
		<p class="col s5 offset-s1">mikepedia description</p>
		<div class="col s5">
			<button class="btn">ir para Mikepedia</button>
		</div>
	</div>
</section>
<section class="container">
	<h1 class="title">Blog</h1>
	<h2 class="subtitle">blog subtitle</h2>
	<div class="divider"></div>
	<div class="section row hoverable">
		<img class="col s4 responsive-img" src="" alt="post image">
		<div class="col s8">
			<h3>post title</h3>
			<p>autor</p>
			<p>data</p>
			<p>post description</p>
		</div>
	</div>
	<div class="divider"></div>
	<div class="section row hoverable">
		<div class="col s12">
			<h3>post without image - title</h3>
			<p>autor</p>
			<p>data</p>
			<p>
				post without image - description
				fdsafdsafdsafdsafdsafdsafdsafdsafewafeavfdsgvgvrefvdsfd
				fsafew few few fewfewffre rewtfs vfdvfds
			</p>
		</div>
	</div>
</section>
<section class="container">
	<h1 class="title">Sobre mim</h1>
	<article class="row">
		<div class="col s7">
			<img src="" alt="sobre mim - image 1">
			<img src="" alt="sobre mim - image 2">
			<img src="" alt="sobre mim - image 3">
		</div>
		<div class="col s5">
			<p>sobre mim - texto</p>
		</div>
	</article>
</section>












<!-- <h1 class="center blue-text">Mike Tatsuo</h1>
<div class="container">
<div class="row">
{%- for p in pgs -%}
	{%- if p.title -%}
		<div class="col s12 m6 l4">
			<a href="{{ p.url | relative_url }}">
				<div class="card hoverable small">
					<div class="card-image">
							<img src="{{ '/assets/img/' | append: p.name | replace: '.md','.jpg' | relative_url }}">
							<span class="card-title">{{ p.title | escape }}</span>
					</div>
					<div class="card-content">
						<p>{{ p.description | escape }}</p>
					</div>
				</div>
			</a>
		</div>
	{%- endif -%}
{%- endfor -%}
</div>
</div> -->