---
layout: default
---

<article class="container" itemscope itemtype="{{ page.schema }}">
  <header>
    <h1 itemprop="name">{{ page.title | escape }}</h1>
    <p>      
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>  
</article>

<ul class="sidenav sidenav-fixed" id="mikepedia-menu" itemscope itemtype="https://schema.org/WPSideBar">
  {%- if site.mikepedia.size > 0 -%}
    {%- include mikepedia_sidenav.html -%}
  {%- else -%}
    <li>Nenhum conteúdo.</li>
  {%- endif -%}

</ul>